// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;



$light-gray: #F4F4F4;
$title: rgb(87,87,87);
$normal: rgba(87,87,87,0.7);
$superlight: rgba(87,87,87,0.4);
$orange: rgba(252, 158, 79, 1);
$lightorange: rgba(252, 158, 79, 0.4);
$yellow: #D6D1B1;
