.new-post-page {
  background-color: #f4f4f4;
  padding: 20px 20px;
  height: 95vh;
}

.title {
  h4 {
  font-size: 24px;
  font-weight: 700;
  color: $normal;
  }
  display: flex;
  justify-content: center;
}

.new-post-white-card {
  background-color: white;
  border-radius: 10px;
  margin: 20px 0px;
  padding: 30px 24px;
}
