body {
  font-family: 'Open Sans', sans-serif;
}

.site {
  background-color: #FFFAF6;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.container {
  margin: 8vh 0;
  margin-bottom: 10vh;
}
