body {
  font-family: 'Open Sans', sans-serif;
}

.site {
  background-color: #FFFFFF;
  display: flex;
  min-height: 86vh;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.site-content {
  // flex: 1;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 7vh;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 10vh;
  padding: 0;
}

.zeromargin {
  margin: 0;
  padding: 0;
}
