.userpage {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: 5px 5px;
  height: 80vh;
  box-shadow: 0 2px 3px rgba(0,0,0,0.25);
}

.userpage-avatar {
  margin-top: 30px;
  margin-bottom: 20px;
}

.userpage-username {
  font-size: 30px;
  font-weight: 700;
  color: $normal;
  margin-bottom: 16px;
}

.userpage-neighbourhood {
  font-size: 17px;
  color: $superlight;
  margin-bottom: 70px;
}

.userpage-karma-points {
  font-size: 20px;
  color: $normal;
  margin-bottom: 50px;
}

.userpage-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  margin: 10px 0;
  a {
    line-height: 26px;
  color: $orange;
  font-weight: 700;
  }
  a:hover {
    text-decoration: none;
    color: $lightorange;
  }
}
