.userpage {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f4f4f4;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 20px 20px;
}

.userpage-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 14px 20px;
  border-radius: 10px;
}

.userpage-name-photo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.userpage-username {
  font-size: 26px;
  font-weight: 600;
  color: $normal;
}

.userpage-personal-info {
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 20px 20px;
  font-style: italic;
  text-align: center;
  color: $normal;
  font-size: 18px;
}

.userpage-karma-points {
  color: $superlight;
}

.userpage-links {
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-compliments {
  border-radius: 3px;
  padding: 12px 16px;
  margin-bottom: 15px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: #EF7E3C;
  &:hover {
    text-decoration: none;
    opacity: 0.6;
    color: white;
  }
}

.userpage-simple-link {
  // border: 0.5px solid #EF7E3C;
  // border-radius: 3px;
  padding-top: 9px;
  // padding-bottom: 10px;
  // padding-right: 10px;
  // padding-left: 10px;
  // margin-bottom: 5px;
  text-decoration: none;
  color: $orange;
  font-weight: 700;
  // background-color: #EF7E3C;
  &:hover {
    text-decoration: none;
    opacity: 0.6;
    color: white;
  }
}
