<div class="inbox-background">
  <div class="title-back">
    <h4>
      My Inbox
    </h4>
  </div>
  <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom_path(chatroom), class: "inbox-link" do %>
      <%= render partial: "chatroom_card", locals: { chatroom: chatroom } %>
    <% end %>
  <% end %>
</div>
