<div class="footer">
  <div class="posts-logo">
    <a href="<%= posts_path %>"><i class="far fa-newspaper"></i></a>
  </div>
  <div class="conversations-logo">
    <a href="#"><i class="far fa-comments"></i></a>
  </div>
  <div class="add-post-logo">
    <a href="my_posts/new"><i class="far fa-plus-square"></i></a>
  </div>
  <div class="user-logo">
<<<<<<< HEAD
    <a href="<%#= user_path %>"><i class="far fa-user"></i></a>
=======
    <a href="<%= user_path(current_user) %>"><i class="far fa-user"></i></a>
>>>>>>> 86c01a067ba4253d84d38ffd0d0402b7420053c9
  </div>
</div>
