<div class="footer">
  <div class="posts-logo">
    <a href="<%= posts_path %>"><i class="far fa-newspaper"></i></a>
  </div>
  <div class="conversations-logo">
    <a href="#"><i class="far fa-comments"></i></a>
  </div>
  <div class="add-post-logo">
    <a href="my_posts/new"><i class="far fa-plus-square"></i></a>
  </div>
  <div class="user-logo">
    <a href="#"><i class="far fa-user"></i></a>
  </div>
</div>
