<div class="navbar navbar-expand-sm navbar-light navbar-karma">
  <%= link_to "/", class: "navbar-brand" do %>
  <i class="fas fa-hand-holding-heart logo-orange"></i>
  <% end %>
  <div class="karma">KARMA CONNECT
  </div>
  <div>
    <%= link_to destroy_user_session_path, method: :delete do %>
   <i class="fas fa-hand-holding-heart logo logo-orange"></i>
   <% end %>
 </div>
</div>
