.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  // border: white 1px solid;
}
