.chat-header {
  width: 100vw;
  display: flex;
  align-items: center;
  padding-top: 40px;
  border-bottom: 1px solid gray;
  a {
    font-size: 60px;
    margin-right: 20px;
    color: black;
  }
}

.avatar-wrapper-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-top: 10px;
  }
}
.avatar-wrapper-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-top: 10px;
  }
}

#messages {
  .message-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    font-size: 12px;
    p {
      margin: 0;
    }
  }

  .message-avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1.5px solid $orange;;
  }

  .message-text-balloon {
    margin: 2px 10px;
    background-color: white;
    flex: 1 0 auto;
    box-shadow: 0px 0px 10px rgba(1,1,1,0.2);
    border-radius: 6px;
    padding: 10px;
    width: 70%;
    height: 50px;
  }
}

.chat-footer {
  padding-bottom: 100px;
}
