// .chat-header {
//   width: 100vw;
//   display: flex;
//   color: darkgrey;
//   align-items: center;
//   border-bottom: 1px solid gray;
//   padding: 20px;
//   padding-top: 0;
//   h1 {
//     font-size: 18px;
//     margin: 0;
//     color: black;
//   }
// }
.chat-background {
  width: 100%;
  padding-top: 50px;
  min-height: 100vh;
}

.chat-header {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(1,1,1,0.1);
  justify-content: flex-start;
  padding: 10px;
  padding-left: 10px;
  width: 100vw;
  display: flex;
  font-weight: 400;
  color: rgba(87, 87, 87, 0.7);
  font-family: "Raleway", "Helvetica", "sans-serif";
  h4 {
    padding-left: 100px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
  }
}

#new_message {
  padding: 0;
  border-top: 1px solid #cacaca;
  margin-bottom: -1px;
  input[type="submit"] {
    margin: 0;
    border: 0;
    border-radius: 0;
    width: 100px;
  }
}

.avatar-wrapper-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-top: 10px;
  }
  img {
    object-fit: cover;
  }
}
.avatar-wrapper-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-top: 10px;
  }
}

#messages {
  .message-container {
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    font-size: 14px;
    p {
      margin: 0;
    }
  }

  .message-avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  .message-text-balloon-left {
    margin: 2px 10px;
    background-color: white;
    flex: 1 0 auto;
    box-shadow: 0px 0px 5px rgba(1,1,1,0.2);
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    min-height: 50px;
    margin: 5px 10px 0;
    border: 3px #FC9E4F;
    order: -1;
    hyphens: auto;
  }

  .message-text-balloon-right {
    margin: 2px 10px;
    background-color: white;
    flex: 1 0 auto;
    box-shadow: 0px 0px 5px rgba(1,1,1,0.2);
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    min-height: 40px;
    margin: 5px 10px 0;
    border: 3px #FC9E4F;
    hyphens: auto;
  }
}

.chat-footer {
  form {
    display: flex;
    padding-left: 18px;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 52px;
  }
}

.form-control {
  background: #fbfbfb;
  width: 75%;
  height: 40px;
  border: 2px solid #eee;
  border-radius: 3px;
  resize: none;
  padding: 15px;
  font-size: 18px;
  color: #333;
}

.form-control:focus {
  background: #fff;
}

#message_content {
  border: none;
  &::placeholder {
    opacity: 0.3;
  }
}

.back-link {
  font-size: 13px;
  margin-left: 10px;
  color: gray;
  text-decoration: underline;
  margin-right: 20px;
  line-height: 2;
}

.chat-body {
  margin-bottom: 100px;
}
