.card {
  height: 120px;
  width: 240px;
  color: $superlight;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 12px;
  margin: 30px;
  flex: 1 0 auto;
  padding: 15px;
  border-style: solid;
  border-color: #FC9E4F;
}

.card-container {
  display: flex;
  width: 320px;
  overflow-x: scroll;
}
