.footer {
  // flex-shrink: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  border-top: 2px solid $orange;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  color: white;
  z-index: 9;
  a {
    color: white;
    &.active img {
      filter: none;
    }
  }
  img {
    filter: grayscale(100%);
  }
}
.posts-logo {
  height: 23px;
  width: 23px;
}

.conversations-logo {
  height: 25px;
  width: 25px;
}

.add-post-logo {
  height: 24px;
  width: 24px;
}

.user-logo {
  height: 24px;
  width: 24px;
}

.reply-logo {
  height: 24px;
  width: 24px;
  color: red;
}
