.inbox-link {
  text-decoration: none;
  display: block;
  width: 100%;
  animation-name: slidein;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  transition: background-color 200ms ease;
  &:hover, &:active, &:visited, &:focus {
    text-decoration: none;
  }
  &:active .inbox-full {
    transform: scale(1.03);
  }
}

.inbox-full {
  display: flex;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid rgba(1,1,1,0.1);
  border-top: 1px solid rgba(1,1,1,0.1);
  margin-top: -1px;
  margin-bottom: -1px;
  transition: transform 200ms ease;
}

.avatar-container {
  display: flex;
  flex: 0 0 25%;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.avatar-container img {
  z-index: 9;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.inbox-content {
  background-color: white;
  padding-left: 55px;
  border-radius: 10px;
  width: 100%;
  padding-left: 20px;
  height: inherit;
  h4 {
    font-size: 16px;
    color: black;
  }
  strong {
    font-size: 14px;
    font-weight: lighter;
    color: rgba(1,1,1,0.3);
  }
}

.inbox-background {
  width: 100%;
  padding-top: 50px;
  min-height: 100vh;
}

.title-back {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(1,1,1,0.1);
  justify-content: flex-start;
  padding: 10px;
  padding-left: 10px;
  width: 100vw;
  display: flex;
  font-weight: 400;
  color: rgba(87, 87, 87, 0.7);
  font-family: "Raleway", "Helvetica", "sans-serif";
  h4 {
    padding-left: 100px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
  }
}

@keyframes slidein {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

// .back-link {
//   font-size: 13px;
//   margin-left: 10px;
// }
