.inbox-link {
  text-decoration: none;
  color: darkgrey;
  display: block;
  width: 100%;
}

.inbox-full {
  width: 95%;
  display: flex;
  height: 150px;
  padding: 10px;
}

.avatar-container {
  display: flex;
  flex: 0 0 10%;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.avatar-container img {
  margin-right: -35px;
  z-index: 9;
}

.inbox-content {
  flex: 1 0 auto;
  background-color: white;
  padding: 10px;
  padding-left: 50px;
  box-shadow: 0px 0px 5px rgba(1,1,1,0.3);
  border-radius: 10px;
  width: 100%;
}

.blue-background {
  width: 100%;
  padding-top: 65px;
  background-image: image-url('bg_karma.jpg');
  background-size: cover;
  min-height: 100vh;
}

.title-back {
  width: 100vw;
  display: flex;
  color: darkgrey;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 10px;
  padding-top: 0;
  color: black;
}

.back-link {
  font-size: 13px;
  margin-left: 10px;
}
