// .mapboxgl-popup {
//   // max-width: 200px;
// }

.mapboxgl-popup-content {
  padding: 0 0 !important;
}


.info-window {
  margin: 0 0 !important;
  padding: 0 0 !important;
  display: flex;
  // width: 100%;
}


.display-none  {
  display: none;
}

.display-block  {
  display: block;
}

.mapboxgl-control-container {
  display: none;
}

.post-map {
  // margin: 10px 0;
  // display: flex;
  // justify-content: center;
}

#map-view {
  margin: 0;
  padding: 0;
}
