// .mapboxgl-popup {
//   // max-width: 200px;
// }
#map {
  margin: 0;
  padding: 0;
}

.mapboxgl-popup-content {
  // padding: 0 0 !important;
}


.info-window {
  margin: 0 0 !important;
  padding: 0 0 !important;
  // display: flex;
  // justify-content: end;
  width: 100%;
}


.display-none  {
  display: none;
}

.display-block  {
  display: block;
}

.mapboxgl-control-container {
  display: none;
}

.post-map {
  margin: 10px 5px;
  display: flex;
  justify-content: center;
  box-shadow: 3px 2px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
}

#map-view {
  // margin: 0;
  // padding: 0;
}
