.navbar-karma {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background: #EF7E3C;
  height: 6vh;
  padding: 0 10px;
}

.karma {
  color: white;
  font-weight: 700;
}
