.search-bar {
  margin: 10px 5px;
}

.form-control-sm {
  color: rgba(87,87,87,0.4) !important;
}

.search-layout {
  border: 0.5px solid rgba(87,87,87,0.2);
  padding: 5px 5px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(87,87,87,0.4);
     // opacity: 1 !important;
}
